<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title>豆瓣阅读</title>
  <link rel="stylesheet" href="../static/css/all.css">
</head>

<body>
  {% include "./include/header.html" %}
  <div class="g-body">
    {% include "./include/home_header.html" %}
    <div class="category-container">
      {% include "./include/m-category.html" %}
    </div>
  </div>
  {% include "./include/footer.html" %}
</body>

</html>