<div class="column-header">
  <h1>{{headerTitle}}</h1>
  <div class="subtitle">{{subtitle}}<a href="javascript:;" class="link-more">了解更多 &gt;</a></div>
  <div class="slide">
    <ul class="slide-list">
      <li class="slide-item clone"><a href="{{data.banners[3].url}}"><img src="{{data.banners[3].image_url}}" alt="banner"></a></li>
      {% for banner in data.banners %}
      <li class="slide-item"><a href="{{banner.url}}"><img src="{{banner.image_url}}" alt="banner"></a></li>
      {% endfor %}
      <li class="slide-item clone"><a href="{{data.banners[0].url}}"><img src="{{data.banners[0].image_url}}" alt="banner"></a></li>
    </ul>
  </div>
  <div class="slide-controls-container">
    <ul class="slide-controls">
      <li><a  class="active" href="javascript:;"></a></li><li><a href="javascript:;"></a></li><li><a href="javascript:;"></a></li><li><a href="javascript:;"></a></li>
    </ul>
  </div>
</div>