<div class="m-header">
  <a href="/" class="title">
    <span class="logo"></span>
  </a><a href="javascript:;" class="btn-expand-nav"></a>
  <div class="btns-group">
    <a href="/search" class="btn btn-search">
      <span class="icon-search"></span>
    </a>
    <a href="javascript:;" class="btn btn-user">
      <span class="icon-user"></span>
    </a>
  </div>
  <div class="nav-menu">
    <div class="arrow-top"></div>
    <ul>
      <li><a href="/" class="menu-item item-home">电子书店</a></li>
      <li><a href="/film" class="menu-item item-film">影视改编</a></li>
      <li><a href="/clip" class="menu-item item-clip">短片计划</a></li>
    </ul>
  </div>
  <div class="user-menu">
    <div class="arrow-top"></div>
    <ul>
      <li><a href="/" class="menu-item item-balance">账户余额</a></li>
      <li><a href="/film" class="menu-item item-coupon">礼券</a></li>
      <li><a href="/clip" class="menu-item item-library">拥有的作品</a></li>
      <li><a href="/clip" class="menu-item item-gift">礼物</a></li>
      <li><a href="/clip" class="menu-item item-login">登录</a></li>
    </ul>
  </div>
</div>