html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
  font-weight: normal;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

[hidefocus],
summary {
  outline: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}

sup,
sub {
  font-size: 83%;
}

pre,
code,
kbd,
samp {
  font-family: inherit;
}

q:before,
q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: normal;
}

del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}

body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 14px/1.6 arial, 'microsoft yahei';
  color: #333;
  outline: 0;
}

body {
  background: #fff;
}

a,
a:hover {
  color: #71ceb5;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes breath {
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}

body {
  background-color: #f8f9f9;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

.m-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  font-size: 14px;
  background-color: #fff;
  transition: transform .3s ease-in-out;
}

.m-header.hide {
  transform: translate3d(0, -100%, 0);
}

.m-header .title {
  display: inline-block;
  width: 120px;
  height: 100%;
}

.m-header .logo {
  display: inline-block;
  margin-left: 10px;
  width: 110px;
  height: 100%;
  background: url("../images/icon-logo.svg") left center no-repeat;
}

.m-header .btn-expand-nav {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 45px;
  background: url("../images/icon-nav-arrow-down.svg") center center no-repeat;
}

.m-header .btn-expand-nav:before {
  position: absolute;
  left: 0;
  top: 15px;
  content: ' ';
  height: 16px;
  border-left: 1px solid #ddd;
}

.m-header .btns-group {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0;
}

.m-header .btn {
  display: inline-block;
  width: 50px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.m-header .icon-search,
.m-header .icon-user {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  background-size: 21px 21px;
}

.m-header .icon-search {
  background-image: url("../images/icon-search@2x.png");
}

.m-header .icon-user {
  background-image: url("../images/icon-user@2x.png");
}

.m-header .nav-menu,
.m-header .user-menu {
  position: absolute;
  top: -290px;
  width: 140px;
  background-color: #f8f9f9;
}

.m-header .nav-menu.show,
.m-header .user-menu.show {
  top: 58px;
  animation: fadeInDown .2s;
}

.m-header .nav-menu {
  left: 10px;
  text-align: center;
}

.m-header .user-menu {
  width: 146px;
  right: 10px;
}

.m-header .arrow-top {
  position: absolute;
  top: -10px;
  right: 6px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #f8f9f9;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.m-header .menu-item {
  display: block;
  position: relative;
  height: 45px;
  line-height: 45px;
  padding: 0 12px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.m-header .menu-item:before {
  position: absolute;
  content: ' ';
  width: 100%;
  left: 0;
  top: 0;
  border-top: 1px solid #ddd;
  transform: scaleY(0.5);
}

.m-header .item-home:before,
.m-header .item-balance:before {
  display: none;
}

.m-header .item-clip:before,
.m-header .item-library:before,
.m-header .item-gift:before {
  border-color: #fff;
}

.g-body {
  margin-top: 45px;
}

.home-banner {
  display: block;
  height: 28.125vw;
  max-height: 150px;
  background-color: #d9f8f9;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.channel-nav {
  padding: 12px;
  font-size: 0;
}

.channel-nav li {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
}

.channel-nav li:first-child {
  margin-right: 2%;
}

.channel-nav .channel {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.channel-nav .channel-column {
  background-image: url("../images/bg-column.jpg");
}

.channel-nav .channel-serial {
  background-image: url("../images/bg-serial.jpg");
}

.category-container {
  margin-bottom: 30px;
}

.m-category {
  padding: 0 12px;
}

.m-category .head {
  padding: 0 13px;
}

.m-category h2 {
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.m-category .icon-more {
  float: right;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../images/icon-more.svg) center center no-repeat #77a4b3;
}

.m-category .books-container-outer {
  overflow-x: scroll;
}

.m-category .books-container-inner {
  width: 950px;
  font-size: 0;
}

.m-category .item-book {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin-right: 15px;
}

.m-category .cover {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 119px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: url("../images/default-cover.png") 0 0/cover no-repeat #fff;
}

.m-category .cover-label {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 100%;
  padding: 2px 0;
  line-height: 1;
  text-align: center;
  font-size: 8px;
  color: #fff;
  transform: translate(50%, -50%) rotate(45deg);
}

.m-category .bundle-label {
  background-color: #61c9ad;
}

.m-category .sale-label {
  background-color: #fa595f;
}

.m-category .free-label {
  background-color: #3e82f8;
}

@media (min-width: 768px) {
  .m-category .cover,
  .m-category .cover img {
    width: 110px;
    height: 162px;
  }
}

@media (max-width: 767px) and (min-width: 639px) {
  .m-category .cover,
  .m-category .cover img {
    width: 97px;
    height: 144px;
  }
}

@media (max-width: 638px) and (min-width: 410px) {
  .m-category .cover,
  .m-category .cover img {
    width: 107px;
    height: 160px;
  }
}

@media (max-width: 409px) and (min-width: 361px) {
  .m-category .cover,
  .m-category .cover img {
    width: 95px;
    height: 142px;
  }
}

@media (min-width: 376px) {
  .m-category .item-book {
    width: 107px;
  }
}

@media (max-width: 375px) and (min-width: 321px) {
  .m-category .item-book {
    width: 95px;
  }
}

@media (min-width: 321px) {
  .m-category .cover-label {
    font-size: 9px;
  }
}

.m-category .book-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: #222;
}

.m-category .book-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #737373;
}

.m-category .book-price {
  font-size: 12px;
  color: #77a4b3;
}

.m-category .book-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #999;
}

.m-category .subscriber-num {
  font-size: 12px;
  color: #77a4b3;
}

.m-category.chart-hot, .m-category.chart-last-updated {
  margin-top: 20px;
}

.m-category.chart-last-updated .subscriber-num {
  display: none;
}

.m-footer {
  padding: 25px 0 10px;
  text-align: center;
  color: #a6a6a6;
}

.m-footer .copyright {
  font-size: 12px;
  color: #888;
}

.column-header {
  padding: 12px 0;
}

.column-header h1,
.column-header .subtitle {
  padding: 0 12px;
}

.column-header h1 {
  font-size: 22px;
  font-weight: bold;
}

.column-header .subtitle {
  font-size: 14px;
  color: #222;
}

.column-header .link-more {
  float: right;
}

.column-header .slide {
  margin-top: 10px;
  width: 375px;
  overflow: hidden;
}

.column-header .slide-list {
  width: 2250px;
  font-size: 0;
}

.column-header .slide-item {
  display: inline-block;
}

.column-header img {
  width: 375px;
}

.column-header .slide-controls-container {
  text-align: center;
}

.column-header .slide-controls {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
}

.column-header .slide-controls li {
  display: inline-block;
  margin-right: 6px;
}

.column-header .slide-controls a {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
}

.column-header .slide-controls a.active {
  background-color: #71ce85;
}

.m-column-categories {
  padding: 12px 15px;
}

.m-column-categories h2 {
  position: relative;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: bold;
}

.m-column-categories h2:after {
  position: absolute;
  content: ' ';
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  transform: scaleY(0.5);
}

.m-column-categories .categories-list {
  margin-top: 8px;
  font-size: 0;
}

.m-column-categories .categories-list li {
  display: inline-block;
  margin: 4px 0;
  width: 32%;
  margin-right: 2%;
  text-align: center;
  font-size: 16px;
  background-color: #eee;
}

.m-column-categories .categories-list li:nth-child(3n) {
  margin-right: 0;
}

.m-column-categories .categories-list li a {
  display: block;
  padding: 4px 8px;
  font-size: 13px;
  color: #626262;
}

[v-cloak] {
  display: none;
}

.category-list .item {
  padding: 18px 13px;
  border-bottom: 1px solid #ddd;
}

.category-list .item:before, .category-list .item:after {
  content: ' ';
  display: table;
}

.category-list .item:after {
  clear: both;
}

.category-list .item a {
  display: block;
}

.category-list .cover {
  position: relative;
  float: left;
  overflow: hidden;
  width: 80px;
  height: 119px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: url("../images/default-cover.png") 0 0/cover no-repeat #fff;
}

@media (min-width: 361px) {
  .category-list .cover,
  .category-list .cover img {
    width: 95px;
    height: 142px;
  }
}

.category-list .info {
  margin-left: 100px;
  font-size: 13px;
  color: #a6a6a6;
}

.category-list .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.4;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.category-list .subtitle,
.category-list .author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-list .subtitle {
  font-size: 15px;
}

.category-list .intro {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
}

.category-list .price {
  margin: 6px 0 8px;
  line-height: 1;
  color: #333;
}

.category-list .list-more {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: #8e8e8e;
  background-color: #fff;
}

.category-list .load-icon {
  font-size: 0;
}

.category-list .load-icon i {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  margin: 0 2px;
  background-color: #999;
  animation: breath .9s linear alternate infinite;
}

.category-list .load-icon i:nth-child(2) {
  animation-delay: .3s;
}

.category-list .load-icon i:nth-child(3) {
  animation-delay: .6s;
}
