@import 'reset';
// 清除浮动
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes breath {
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}

body {
  background-color: #f8f9f9;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}

// header.html
.m-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  font-size: 14px;
  background-color: #fff;
  transition: transform .3s ease-in-out;
  &.hide {
    transform: translate3d(0, -100%, 0);
  }
  .title {
    display: inline-block;
    width: 120px;
    height: 100%;
  }
  .logo {
    display: inline-block;
    margin-left: 10px;
    width: 110px;
    height: 100%;
    background: url('../images/icon-logo.svg') left center no-repeat;
  }
  .btn-expand-nav {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 45px;
    background: url('../images/icon-nav-arrow-down.svg') center center no-repeat;
    &:before {
      position: absolute;
      left: 0;
      top: 15px;
      content: ' ';
      height: 16px;
      border-left: 1px solid #ddd;
    }
  }
  .btns-group {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 0;
  }
  .btn {
    display: inline-block;
    width: 50px;
    height: 45px;
    text-align: center;
    line-height: 45px;
  }
  .icon-search,
  .icon-user {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background-size: 21px 21px;
  }
  .icon-search {
    background-image: url('../images/icon-search@2x.png');
  }
  .icon-user {
    background-image: url('../images/icon-user@2x.png');
  }
  .nav-menu,
  .user-menu {
    position: absolute;
    top: -290px;
    width: 140px;
    background-color: #f8f9f9;
    &.show {
      top: 58px;
      animation: fadeInDown .2s;
    }
  }
  .nav-menu {
    left: 10px;
    text-align: center;
  }
  .user-menu {
    width: 146px;
    right: 10px;
  }
  .arrow-top {
    position: absolute;
    top: -10px;
    right: 6px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #f8f9f9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .menu-item {
    display: block;
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 12px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
  }
  .menu-item:before {
    position: absolute;
    content: ' ';
    width: 100%;
    left: 0;
    top: 0;
    border-top: 1px solid #ddd;
    transform: scaleY(.5);
  }
  .item-home:before,
  .item-balance:before {
    display: none;
  }
  .item-clip:before,
  .item-library:before,
  .item-gift:before {
    border-color: #fff;
  }
}

// 布局
.g-body {
  margin-top: 45px;
}

// home_header.html
.home-banner {
  display: block;
  height: 28.125vw;
  max-height: 150px;
  background-color: #d9f8f9;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.channel-nav {
  padding: 12px;
  font-size: 0;
  li {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
  }
  li:first-child {
    margin-right: 2%;
  }
  .channel {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 16px;
    text-align: right;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .channel-column {
    background-image: url('../images/bg-column.jpg');
  }
  .channel-serial {
    background-image: url('../images/bg-serial.jpg');
  }
}

.category-container {
  margin-bottom: 30px;
}

// m-category.html
.m-category {
  padding: 0 12px;
  .head {
    padding: 0 13px;
  }
  h2 {
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .icon-more {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: url(../images/icon-more.svg) center center no-repeat #77a4b3;
  }
  .books-container-outer {
    overflow-x: scroll;
  }
  .books-container-inner {
    width: 950px;
    font-size: 0;
  }
  .item-book {
    display: inline-block;
    vertical-align: top;
    width: 80px;
    margin-right: 15px;
  }
  .cover {
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 119px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: url('../images/default-cover.png') 0 0/cover no-repeat #fff;
  }
  .cover-label {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 100%;
    padding: 2px 0;
    line-height: 1;
    text-align: center;
    font-size: 8px;
    color: #fff;
    transform: translate(50%, -50%) rotate(45deg);
  }
  .bundle-label {
    background-color: #61c9ad;
  }
  .sale-label {
    background-color: #fa595f;
  }
  .free-label {
    background-color: #3e82f8;
  }
  @media (min-width: 768px) {
    .cover,
    .cover img {
      width: 110px;
      height: 162px;
    }
  }
  @media (max-width: 767px) and (min-width: 639px) {
    .cover,
    .cover img {
      width: 97px;
      height: 144px;
    }
  }
  @media (max-width: 638px) and (min-width: 410px) {
    .cover,
    .cover img {
      width: 107px;
      height: 160px;
    }
  }
  @media (max-width: 409px) and (min-width: 361px) {
    .cover,
    .cover img {
      width: 95px;
      height: 142px;
    }
  }
  @media (min-width: 376px) {
    .item-book {
      width: 107px;
    }
  }
  @media (max-width: 375px) and (min-width: 321px) {
    .item-book {
      width: 95px;
    }
  }
  @media (min-width: 321px) {
    .cover-label {
      font-size: 9px;
    }
  }
  .book-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #222;
  }
  .book-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #737373;
  }
  .book-price {
    font-size: 12px;
    color: #77a4b3;
  } // m-category_chart-hot.html
  .book-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #999;
  }
  .subscriber-num {
    font-size: 12px;
    color: #77a4b3;
  }
  &.chart-hot,
  &.chart-last-updated {
    margin-top: 20px;
  }
  &.chart-last-updated {
    .subscriber-num {
      display: none;
    }
  }
}

// footer.html
.m-footer {
  padding: 25px 0 10px;
  text-align: center;
  color: #a6a6a6;
  .copyright {
    font-size: 12px;
    color: #888;
  }
}

// page-column
// column_header.html
.column-header {
  padding: 12px 0;
  h1,
  .subtitle {
    padding: 0 12px;
  }
  h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .subtitle {
    font-size: 14px;
    color: #222;
  }
  .link-more {
    float: right;
  }
  .slide {
    margin-top: 10px;
    width: 375px;
    overflow: hidden;
  }
  .slide-list {
    width: 2250px;
    font-size: 0;
  }
  .slide-item {
    display: inline-block;
  }
  img {
    width: 375px;
  }
  .slide-controls-container {
    text-align: center;
  }
  .slide-controls {
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
    li {
      display: inline-block;
      margin-right: 6px;
    }
    a {
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ccc;
      &.active {
        background-color: #71ce85;
      }
    }
  }
}

// m-column-categories.html
.m-column-categories {
  padding: 12px 15px;
  h2 {
    position: relative;
    padding-bottom: 6px;
    font-size: 15px;
    font-weight: bold;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid #d8d8d8;
      transform: scaleY(.5);
    }
  }
  .categories-list {
    margin-top: 8px;
    font-size: 0;
    li {
      display: inline-block;
      margin: 4px 0;
      width: 32%;
      margin-right: 2%;
      text-align: center;
      font-size: 16px;
      background-color: #eee;
      &:nth-child(3n) {
        margin-right: 0;
      }
      a {
        display: block;
        padding: 4px 8px;
        font-size: 13px;
        color: #626262;
      }
    }
  }
}

// page-category
// category_list.html
[v-cloak] {
  display: none;
}

.list-more {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  color: #8e8e8e;
  background-color: #fff;
  &:after {
    position: absolute;
    content: ' ';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ddd;
    transform: scaleY(.5);
  }
}

.load-icon {
  font-size: 0;
  i {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin: 0 2px;
    background-color: #999;
    animation: breath .9s linear alternate infinite;
    &:nth-child(2) {
      animation-delay: .3s;
    }
    &:nth-child(3) {
      animation-delay: .6s;
    }
  }
}

.category-list {
  .item {
    padding: 18px 13px;
    border-bottom: 1px solid #ddd;
    @include clearfix();
    a {
      display: block;
    }
  }
  .cover {
    position: relative;
    float: left;
    overflow: hidden;
    width: 80px;
    height: 119px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: url('../images/default-cover.png') 0 0/cover no-repeat #fff;
  }
  @media (min-width: 361px) {
    .cover,
    .cover img {
      width: 95px;
      height: 142px;
    }
  }
  .info {
    margin-left: 100px;
    font-size: 13px;
    color: #a6a6a6;
  }
  .title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.4;
    font-size: 15px;
    font-weight: bold;
    color: #333;
  }
  .subtitle,
  .author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .subtitle {
    font-size: 15px;
  }
  .intro {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5;
  }
  .price {
    margin: 6px 0 8px;
    line-height: 1;
    color: #333;
  }
}

// page ebook
// ebook_bundle.html
.ebook_bundle {
  .profile {
    position: relative;
    color: #a6a6a6;
    background-color: #fff;
    &:before {
      position: absolute;
      content: ' ';
      left: 0;
      top: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid #ddd;
      transform: scaleY(.5);
    }
  }
  .bundle-covers {
    display: table-cell;
    vertical-align: bottom;
    box-sizing: border-box;
    width: 100vw;
    height: 58vw;
    padding-left: 5vw;
    overflow: hidden;
    background-color: #f8f9f9;
    font-size: 0;
  }
  .book-cover {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
  }
  .bundle-cover {
    z-index: 50;
    width: 30.9333vw;
    height: 46.0128vw;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
  }
  .bundle-spine {
    position: absolute;
    top: 0;
    right: -1.2vw;
    z-index: 1;
    width: 1.2vw;
    height: 46.0128vw;
    border-width: .96vw 0 0 1.2vw;
    border-style: solid;
    border-color: #f8f9f9 transparent transparent #090505;
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, .3);
    &:before {
      position: absolute;
      content: ' ';
      top: 50%;
      left: -3.7vw;
      width: 2.5vw;
      height: 5vw;
      border-radius: 5vw 0 0 5vw;
      background-color: #090505;
      box-shadow: inset 0 -1px .5px rgba(255, 255, 255, .5);
    }
  }
  .first-cover {
    z-index: 49;
    width: 29.3333vw;
    height: 43.6333vw;
    margin-left: -.5333vw;
  }
  .second-cover {
    z-index: 48;
    width: 27.7333vw;
    height: 41.2533vw;
  }
  .third-cover,
  .fourth-cover {
    box-shadow: 1px 0 5px #ddd;
  }
  .third-cover {
    z-index: 47;
    width: 2.4vw;
    height: 38.9333vw;
  }
  .fourth-cover {
    z-index: 46;
    width: 1.8vw;
    height: 37vw;
  }
  .profile-main {
    overflow: hidden;
    padding: 15px 14px;
    h2 {
      margin-bottom: 10px;
      line-height: 1.3;
      font-size: 21px;
      font-weight: bold;
      color: #333;
    }
  }
  .main-info {
    @include clearfix();
  }
  .meta {
    float: left;
    line-height: 1.5;
    font-size: 14px;
  }
  .price {
    float: right;
    text-align: right;
    font-size: 17px;
    color: #333;
  }
  .intro {
    position: relative;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ddd;
      transform: scaleY(.5);
    }
    .hd {
      overflow: hidden;
      margin-bottom: 12px;
      padding: 20px 15px 0;
      h3 {
        line-height: 1;
        font-weight: bold;
        font-size: 17px;
        color: #333;
      }
    }
    .bd {
      padding: 0 15px 20px;
      font-size: 16px;
    }
    .expand-all {
      margin-bottom: -10px;
      height: 25px;
      line-height: 1.4;
      text-align: center;
      &:before {
        display: inline-block;
        content: ' ';
        width: 16px;
        height: 6px;
        background: url(../images/icon-expand.svg) no-repeat;
        background-size: 16px 6px;
      }
      &.expanded:before {
        transform: rotate(180deg);
      }
    }
  }
  .bundle-works {
    position: relative;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ddd;
      transform: scaleY(.5);
    }
    .hd {
      overflow: hidden;
      margin-bottom: 12px;
      padding: 20px 15px 0;
      h3 {
        line-height: 1;
        font-weight: bold;
        font-size: 17px;
        color: #333;
      }
    }
    .works-list {
      .item {
        overflow: hidden;
        position: relative;
        padding: 16px 14px;
        &:after {
          position: absolute;
          content: ' ';
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0;
          border-bottom: 1px solid #ddd;
          transform: scaleY(.5);
        }
      }
      a {
        display: block;
        @include clearfix();
      }
      .cover {
        float: left;
        position: relative;
        overflow: hidden;
        width: 80px;
        height: 119px;
        margin-bottom: 8px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        background: url('../images/default-cover.png') 0 0/cover no-repeat #fff;
      }
      @media (min-width: 361px) {
        .cover,
        .cover img {
          width: 95px;
          height: 142px;
        }
      }
      .info {
        margin-left: 100px;
        font-size: 14px;
        color: #a6a6a6;
      }
      .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        line-height: 1.4;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
      .author {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .intro {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-height: 1.5;
      }
    }
  }
}

.purchase-actions-bottom {
  display: flex;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 46px;
  background-color: #fff;
  &:after {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 1px solid #ddd;
    transform: scaleY(.5);
  }
  .btn-wrapper {
    position: relative;
    flex: 1 0 80px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    &:before {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 0;
      height: 100%;
      border-left: 1px solid #ddd;
      transform: scaleX(.5);
    }
    a {
      display: block;
    }
    i {
      display: block;
      margin: 6px auto 3px;
      height: 20px;
      line-height: 1;
      color: #77a4b3;
    }
    .btn-text {
      display: block;
      line-height: 1;
      font-size: 10px;
      color: #a6a6a6;
    }
    .icon-share:before {
      content: ' ';
      display: inline-block;
      vertical-align: top;
      width: 20px;
      height: 19px;
      background: url(../images/icon-share.svg) no-repeat;
      transform: translateX(2px);
    }
  }
  .btn-wrapper-purchase {
    flex: 2 0 160px;
  }
  .btn-purchase {
    font-size: 16px;
    color: #fff;
    background-color: #71ceb5;
  }
}

// ebook_ebook.html
.stars-context,
.stars-active {
  display: inline-block;
  overflow: hidden;
  width: 73px;
  height: 13px;
  line-height: 1;
  font-size: 13px;
  text-indent: 0;
  background: url(../images/stars.svg) no-repeat;
}

.stars-active {
  background-position: 0 -17px;
}

.stars-5 .stars-active {
  width: 73px;
}

.stars-4 .stars-active {
  width: 58px;
}

.stars-3 .stars-active {
  width: 44px;
}

.stars-2 .stars-active {
  width: 29px;
}

.stars-1 .stars-active {
  width: 14px;
}

.stars-0 .stars-active {
  width: 0;
}

.ebook_ebook {
  .inner {
    padding: 20px 15px;
    overflow: hidden;
    font-size: 14px;
    color: #a6a6a6;
    background-color: #fff;
    h2 {
      line-height: 1.3;
      font-size: 21px;
      font-weight: bold;
      color: #333;
    }
  }
  .cover {
    position: relative;
    float: right;
    overflow: hidden;
    width: 80px;
    height: 119px;
    margin-left: 13px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background: url('../images/default-cover.png') 0 0/cover no-repeat #fff;
  }
  @media (min-width: 361px) {
    .cover,
    .cover img {
      width: 95px;
      height: 142px;
    }
  }
  .rating {
    margin: 8px 0;
  }
  .score {
    margin-left: 7px;
    color: #fa595f;
  }
  .meta {
    line-height: 1.5;
    font-size: 14px;
  }
  .reading-actions {
    position: relative;
    padding: 0 13px 10px;
    background-color: #fff;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ddd;
      transform: scaleY(.5);
    }
  }
  .section-buttons {
    display: flex;
    justify-content: center;
  }
  .btn-wrapper-read {
    flex: 1 1 auto;
  }
  .btn {
    display: block;
    padding: 0;
    margin: 0;
    height: 37px;
    line-height: 37px;
    border-radius: 37px;
    text-align: center;
  }
  .btn-read {
    color: #fff;
    background-color: #71ceb5;
    min-width: 200px;
  }
  .icon-read {
    display: inline-block;
    width: 24px;
    height: 19px;
    margin-right: 10px;
    vertical-align: -4px;
    background: url(../images/icon-read-white.svg) no-repeat;
  }
  .btn-wrapper-share {
    flex: 0 0 37px;
    margin-left: 6px;
  }
  .btn-share {
    position: relative;
    width: 37px;
    background-color: #fff;
    &:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      bottom: -100%;
      right: -100%;
      border: 1px solid #ddd;
      border-radius: 37px;
      transform-origin: 0 0;
      transform: scale(.5);
    }
  }
  .icon-share {
    display: inline-block;
    vertical-align: -4px;
    width: 20px;
    height: 19px;
    background: url(../images/icon-share.svg) no-repeat;
  }
  .intro,
  .toc,
  .tags,
  .agent,
  .reviews {
    position: relative;
    &:after {
      position: absolute;
      content: ' ';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px solid #ddd;
      transform: scaleY(.5);
    }
    .hd {
      overflow: hidden;
      margin-bottom: 12px;
      padding: 20px 15px 0;
      h3 {
        line-height: 1;
        font-weight: bold;
        font-size: 17px;
        color: #333;
      }
    }
    .bd {
      padding: 0 15px 20px;
      font-size: 16px;
    }
    .expand-all {
      margin-bottom: -10px;
      height: 25px;
      line-height: 1.4;
      text-align: center;
      &:before {
        display: inline-block;
        content: ' ';
        width: 16px;
        height: 6px;
        background: url(../images/icon-expand.svg) no-repeat;
        background-size: 16px 6px;
      }
      &.expanded:before {
        transform: rotate(180deg);
      }
    }
  }
  .toc {
    .toc-box {
      line-height: 1.6;
    }
    li {
      margin-left: 1.2em;
      &:before {
        display: inline-block;
        content: '•';
        width: 1.2em;
        margin-left: -1.2em;
        line-height: 1;
        text-align: center;
        color: #a6a6a6;
      }
    }
    .level-1 {
      padding-left: 1em;
    }
  }
  .tags {
    .list-tags {
      margin-right: -5px;
    }
    .tag-item {
      display: inline-block;
      height: 35px;
      margin: 0 5px 5px 0;
      padding: 0 10px;
      line-height: 35px;
      color: #fff;
      background-color: #77a4b3;
      a {
        color: #fff;
      }
    }
  }
  .agent {
    .col-media {
      margin-bottom: 13px;
      a {
        display: block;
      }
    }
    .avatar-wrapper {
      float: left;
      margin-right: 13px;
    }
    .avatar {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 48px;
      background-color: #ddd;
    }
    .name {
      height: 48px;
      line-height: 48px;
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }
    .agent.intro p {
      line-height: 1.6;
    }
    .agent-more-works {
      margin-top: 18px;
      text-align: center;
    }
    .btn-more {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 0 20px;
      height: 37px;
      line-height: 37px;
      border-radius: 37px;
      box-sizing: border-box;
      text-align: center;
      font-size: 16px;
      color: #77a4b3;
      background-color: #fff;
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: -100%;
        right: -100%;
        border: 1px solid #ddd;
        border-radius: 37px;
        transform: scale(.5);
        transform-origin: 0 0;
      }
    }
    .icon-list {
      display: inline-block;
      width: 17px;
      height: 12px;
      margin-right: 8px;
      background: url(../images/icon_list@2x.png) left top/17px 12px no-repeat;
    }
  }
  .reviews {
    .bd {
      padding-bottom: 0;
    }
    .works-list {
      @include clearfix();
    }
    .review-item {
      margin-bottom: 13px;
    }
    .rating {
      margin-bottom: 8px;
    }
    .text {
      margin-right: 5px;
      line-height: 1.5;
    }
    .abstract {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .info {
      display: block;
      padding-top: 8px;
      font-size: 13px;
    }
    .author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      color: #a6a6a6;
    }
    .date {
      margin-left: 10px;
    }
    .review-opt {
      float: right;
      height: 15px;
      line-height: 15px;
      color: #77a4b3;
      li {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 100%;
        margin-left: 10px;
        padding-left: 16px;
        background-repeat: no-repeat;
        background-position: left center;
      }
      .icon-upvote {
        background-image: url(../images/icon-upvote.svg);
        background-position-y: 0;
      }
      .icon-reply {
        background-image: url(../images/icon-reply.svg);
        background-position-y: 2px;
      }
    }
  }
}